<div class="nested-fields">
  <div clas="form-inline">
    <%= f.input :kid_name %>
    <%= f.input :kid_age %>
    <%= f.input :kid_gender %>
  <%= link_to_remove_association "remove kid", f %>

  <div class="allow">
    <% p = @parent.kids.first %>
    <%= f.simple_fields_for p.create_allow do |allow| %>
    <%= render 'allow_fields', :f => allow %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add allowance', f, :allow %>
    </div>
  </div>
</div>


