<div class="container">
  <%= image_tag @parent.image.url(:medium) %>

  <h1><%= @parent.parent_name %> </h1>
  <h1><%= @parent.family_name %> </h1>
  <% @parent.kids.each do |kid | %>
    <%= kid.kid_name%>&nbsp; <br />
  <% kid.allows.each do |allow| %>
  <%= allow.allowance_amount %>
  <%= allow.allowance_frequency %>
      <% end %>
  <% end %>


      <%= link_to "Back", root_path, class: "btn btn-default" %>
  <%= link_to "Delete", parent_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
</div>